<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.causecretary"
    android:installLocation="preferExternal">
    <!-- 위치정보 사용을 위해 권한을 추가 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Sceneform requires OpenGL ES 3.0 or later. -->
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" /> <!-- Indicates that app requires ARCore ("AR Required"). Ensures the app is visible only in the Google Play Store on devices that support ARCore. For "AR Optional" apps remove this line. -->
    <uses-feature android:name="android.hardware.camera.ar" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CauSecretary"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.RouteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.AuthPhone2Activity"
            android:exported="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="g8qflbvml2" />

        <activity
            android:name=".ui.forgot.ForgotIdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.forgot.ForgotPwdActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.AuthPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".naviAr.ArActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="locked"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" /> <!-- Indicates whether "Google Play Services for AR" (ARCore) is "required" or "optional". -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>